In [2]:
import datetime

import numpy as np
import pandas as pd
import pandas_datareader as pdr  # IF NECESSARY, from terminal: pip install pandas_datareader
from numpy.random import default_rng

pd.set_option("display.max_rows", 10)  # display option for pandas
# more here: https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

## A quick hit of Numpy

In [4]:
# create a random vector 
# every run of this --> diff #s
# see 3.2.2.2 in the textbook for why, 
# and how to prevent

rg = default_rng()
myray = rg.standard_normal(5)
print("myray:", myray)

myray: [ 1.69451086 -0.15926504 -1.46624171  0.42097902 -1.43420523]

In [5]:
# q1 - indexing, pick the odd elements
myray[1::2]

array([-0.15926504,  0.42097902])

Booleans arrays: Asking a logic test on an array, returns the array, where each element has been tested against that logic and converted to the boolean answer.

In [8]:
# q2 - (a) boolean array + (b) "masking"

# (a)
myray>0

# (b)
mask=myray>0
myray[mask]
#or myray[myray>0]

array([1.69451086, 0.42097902])

What you just learned about masking and filtering can be done with dataframes!

## The main event - Pandas

Vocab
- series
- index 
- dataframe
- columns and names
- rows and index 
- multiindex

In [9]:
start = datetime.datetime(2017, 1, 1) # you can specify start and end dates this way
end = datetime.datetime(2021, 1, 27)
macro_df = pdr.data.DataReader(['GDP','CPIAUCSL','UNRATE'], 'fred', start, end)

In [10]:
# preview the dataframe
macro_df

                  GDP  CPIAUCSL  UNRATE
DATE
2017-01-01  19153.912   243.620     4.7
2017-02-01        NaN   243.872     4.6
2017-03-01        NaN   243.766     4.4
2017-04-01  19322.920   244.274     4.4
2017-05-01        NaN   244.069     4.4
...               ...       ...     ...
2020-09-01        NaN   260.149     7.9
2020-10-01  21477.597   260.462     6.9
2020-11-01        NaN   260.927     6.7
2020-12-01        NaN   261.560     6.7
2021-01-01  22038.226   262.231     6.4

[49 rows x 3 columns]

In [11]:
# shape
macro_df.shape #no pattern, bc sahpe is attrobute, not method

(49, 3)

In [12]:
# variable types
macro_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49 entries, 2017-01-01 to 2021-01-01
Freq: MS
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GDP       17 non-null     float64
 1   CPIAUCSL  49 non-null     float64
 2   UNRATE    49 non-null     float64
dtypes: float64(3)
memory usage: 1.5 KB

In [14]:
# look at top X rows
macro_df.head()

                  GDP  CPIAUCSL  UNRATE
DATE
2017-01-01  19153.912   243.620     4.7
2017-02-01        NaN   243.872     4.6
2017-03-01        NaN   243.766     4.4
2017-04-01  19322.920   244.274     4.4
2017-05-01        NaN   244.069     4.4

In [15]:
# look at bottom X rows
macro_df.tail()

                  GDP  CPIAUCSL  UNRATE
DATE
2020-09-01        NaN   260.149     7.9
2020-10-01  21477.597   260.462     6.9
2020-11-01        NaN   260.927     6.7
2020-12-01        NaN   261.560     6.7
2021-01-01  22038.226   262.231     6.4

In [19]:
# grab one variable
macro_df['GDP']#bracket, string var name
macro_df['GDP'] + macro_df['UNRATE']

DATE
2017-01-01    19158.612
2017-02-01          NaN
2017-03-01          NaN
2017-04-01    19327.320
2017-05-01          NaN
                ...
2020-09-01          NaN
2020-10-01    21484.497
2020-11-01          NaN
2020-12-01          NaN
2021-01-01    22044.626
Freq: MS, Length: 49, dtype: float64

In [26]:
# grab two (or more) variables
macro_df[['GDP','UNRATE']]

                  GDP  UNRATE
DATE
2017-01-01  19153.912     4.7
2017-02-01        NaN     4.6
2017-03-01        NaN     4.4
2017-04-01  19322.920     4.4
2017-05-01        NaN     4.4
...               ...     ...
2020-09-01        NaN     7.9
2020-10-01  21477.597     6.9
2020-11-01        NaN     6.7
2020-12-01        NaN     6.7
2021-01-01  22038.226     6.4

[49 rows x 2 columns]

In [22]:
# see column names
macro_df.columns

Index(['GDP', 'CPIAUCSL', 'UNRATE'], dtype='object')

In [25]:
# change column names
macro_df.columns=['G','C','U']
macro_df.columns

macro_df.columns=['GDP', 'CPIAUCSL', 'UNRATE']
macro_df.columns

Index(['GDP', 'CPIAUCSL', 'UNRATE'], dtype='object')

In [35]:
# see index
macro_df.index

RangeIndex(start=0, stop=49, step=1)

In [27]:
# reset_index() and set_index()
macro_df=macro_df.reset_index() # tuens index into var, "macro=" makes it permantnet 
macro_df

         DATE        GDP  CPIAUCSL  UNRATE
0  2017-01-01  19153.912   243.620     4.7
1  2017-02-01        NaN   243.872     4.6
2  2017-03-01        NaN   243.766     4.4
3  2017-04-01  19322.920   244.274     4.4
4  2017-05-01        NaN   244.069     4.4
..        ...        ...       ...     ...
44 2020-09-01        NaN   260.149     7.9
45 2020-10-01  21477.597   260.462     6.9
46 2020-11-01        NaN   260.927     6.7
47 2020-12-01        NaN   261.560     6.7
48 2021-01-01  22038.226   262.231     6.4

[49 rows x 4 columns]

In [28]:
# grab some rows (by position)
macro_df[4:8]

        DATE        GDP  CPIAUCSL  UNRATE
4 2017-05-01        NaN   244.069     4.4
5 2017-06-01        NaN   244.218     4.3
6 2017-07-01  19558.693   244.280     4.3
7 2017-08-01        NaN   245.205     4.4

In [ ]:
# grab some rows (by value)

In [34]:
# create a variable
# (2 ways)
macro_df['HIGH'] = macro_df['UNRATE']>6
macro_df=macro_df.assign(low= macro_df['UNRATE']<4)
macro_df

         DATE        GDP  CPIAUCSL  UNRATE   HIGH    low
0  2017-01-01  19153.912   243.620     4.7  False  False
1  2017-02-01        NaN   243.872     4.6  False  False
2  2017-03-01        NaN   243.766     4.4  False  False
3  2017-04-01  19322.920   244.274     4.4  False  False
4  2017-05-01        NaN   244.069     4.4  False  False
..        ...        ...       ...     ...    ...    ...
44 2020-09-01        NaN   260.149     7.9   True  False
45 2020-10-01  21477.597   260.462     6.9   True  False
46 2020-11-01        NaN   260.927     6.7   True  False
47 2020-12-01        NaN   261.560     6.7   True  False
48 2021-01-01  22038.226   262.231     6.4   True  False

[49 rows x 6 columns]

## EDA

Stop here. Back to the lecture. 

### Part 1

Q0: Do each of the [EDA golden rules for initial data exploration](https://ledatascifi.github.io/ledatascifi-2022/content/03/02e_eda_golden.html) and write down your observations.
- **Important: What is the "key" or "unit level" that observations in this database describes?** 
    - This is defined in 3.2.5 and discussed in [3.2.2.2 via example](https://ledatascifi.github.io/ledatascifi-2022/content/03/02b_pandasVocab.html#the-shape-of-data)
    - The "key" levels in databases we will look at are often increments of time in the data, the type of entity describe (e.g. firm, person, state, country, industry), and combinations of entity and time. 
    - E.g. "firm" level, "firm-year" level

In [60]:
macro_df.head()
macro_df.tail()
macro_df.shape
macro_df.info()
macro_df.describe()
#macro_df['var'].value_counts().head(10)
#macro_df['var'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      49 non-null     datetime64[ns]
 1   GDP       17 non-null     float64
 2   CPIAUCSL  49 non-null     float64
 3   UNRATE    49 non-null     float64
 4   HIGH      49 non-null     bool
 5   low       49 non-null     bool
dtypes: bool(2), datetime64[ns](1), float64(3)
memory usage: 1.8 KB

                GDP    CPIAUCSL     UNRATE
count     17.000000   49.000000  49.000000
mean   20654.744824  252.878469   5.032653
std      913.690696    5.557894   2.508019
min    19153.912000  243.620000   3.500000
25%    19882.965000  248.721000   3.800000
50%    20813.325000  252.899000   4.000000
75%    21477.597000  257.387000   4.400000
max    22038.226000  262.231000  14.700000

Q1: What is the second series above?

CPIAUSCL is the consumer price index for all urban consumers. it is the measure of the average monthly prices paid for goods and services by urbans consumers.

Q2: What is the frequency of the series?

Monthly

Q3: What is the average ANNUAL GDP, based on the data?

In [61]:
macro_df.groupby('GDP').mean()

           CPIAUCSL  UNRATE   HIGH    low
GDP
19153.912   243.620     4.7  False  False
19322.920   244.274     4.4  False  False
19477.444   256.192    14.7   True  False
19558.693   244.280     4.3  False  False
19882.965   246.657     4.2  False  False
...             ...     ...    ...    ...
21477.597   260.462     6.9   True  False
21481.367   258.687     3.5  False   True
21505.012   255.925     3.7  False   True
21694.458   257.387     3.6  False   True
22038.226   262.231     6.4   True  False

[17 rows x 4 columns]

## Part 2

Q4: Download the annual *real* gdp from 1960 to 2018 from FRED and compute the average annual percent change

Q5: Compute the average gdp percent change within *each decade*

## Part 3

First, I'll load January data on unemployment, the Case-Shiller housing index, and median household income in three states (CA/MI/PA).

In [ ]:
# do your work here

# let's pseudo code

# q6 
# get decade variable
# get annual change in unemploy for each state
# average unemploy for each state within decade

# q7
# get decade variable
# get annual pct change in house price and income for each state
# average those for each state within decade

# HEY! those are similar - let's combine q6 and q7:

# get decade variable
# get annual change in unemploy for each state
# get annual pct change in house price and income for each state
# average unemploy for each state within decade

In [ ]:
# LOAD DATA AND CONVERT TO ANNUAL

start = 1990 # pandas datareader can infer these are years
end = 2018
macro_data = pdr.data.DataReader(['CAUR','MIUR','PAUR', # unemployment 
                                  'LXXRSA','DEXRSA','WDXRSA', # case shiller index in LA, Detroit, DC (no PA  available!)
                                  'MEHOINUSCAA672N','MEHOINUSMIA672N','MEHOINUSPAA672N'], #  
                                 'fred', start, end)
macro_data = macro_data.resample('Y').first() # get's the first observation for each variable in a given year

# CLEAN UP THE FORMATING SOMEWHAT

macro_data.index = macro_data.index.year
print("\n\n DATA BEFORE FORMATTING: \n\n")
print(macro_data[:20]) # see how the data looks now? ugly variable names, but its an annual dataset at least
macro_data.columns=pd.MultiIndex.from_tuples([
    ('Unemployment','CA'),('Unemployment','MI'),('Unemployment','PA'),
    ('HouseIdx','CA'),('HouseIdx','MI'),('HouseIdx','PA'),
    ('MedIncome','CA'),('MedIncome','MI'),('MedIncome','PA')
    ])
print("\n\n DATA AFTER FORMATTING: \n\n")
print(macro_data[:20]) # this is a dataset that is "wide", and now 
                       # the column variable names have 2 levels - var name, 
                       # and unit/state that variable applies to

Q6: for each decade and state, report the average annual CHANGE (level, not percent) in unemployment

Q7: for each decade and state, report the average annual PERCENT CHANGE in house prices and household income